# dependencies
node_modules
.env 
# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# fluence 
/nasc-functions/.fluence 
/.fluence/secrets
/.fluence/provider-secrets.yaml
/.fluence/schemas
/.fluence/tmp
/.fluence/service-configs
/.fluence/aqua-dependencies/package.json
src/frontend/src/compiled-aqua/
**/node_modules
**/target/
.repl_history